* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-agendamento-page {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;   
    justify-content: center;
    margin-top:30px; 
     
}

.container-agendamento-page li {
    list-style-type: none;
}

.container-agendamento-page-items-li {    
    padding-top: 40px;
    padding-bottom: 40px;
}

.container-agendamento-page-items {     
    padding-bottom: 40px;
    border-radius: 10px;   
}


.container-agendamento-page-items h2 {
    background-color: #734C4C;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    min-height: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;    
    padding: 15px;
}

.container-agendamento-page-items p {
    background-color: #C4C4C4;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    min-height: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;    
    padding: 15px;
}

.login-form-btn{
    font-size: 15px;
    border: none;
    border-radius: 10px;
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 50px;
    background-color: #8A4E4E;
    color:white;
}

.MuiBox-paper-root {
    margin-top: 20px;
}

.voltar-agendamentos-form-btn {
    font-size: 15px;
    border: none;
    border-radius: 10px;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    justify-content: center;
    align-items: center;    
    height: 50px;
    background-color: #a52a2a;
    color:white;
    width: 100%;    
    margin-top: 20px;
    margin-bottom: 20px;
    
}